{% extends 'tienda/base.html' %}

{% block content %}
    <h2>Compra Realizada con Éxito</h2>
    <p>Gracias por su compra. Su orden ha sido procesada con éxito y se ha enviado un e-mail de respaldo a su correo.</p>
    <p>Orden ID: {{ orden.id }}</p>
    <p>Total: {{ orden.total }}</p>
    <p>Dirección de Envío: {{ orden.direccion_envio.direccion }}, {{ orden.direccion_envio.ciudad }}, {{ orden.direccion_envio.codigo_postal }}, {{ orden.direccion_envio.pais }}</p>
    <a href="{% url 'tienda:descargar_orden' orden.id %}" class="btn btn-primary">Descargar Orden de Compra</a>
{% endblock %}